/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas{
    display: block;
}


style{
    object-fit: cover;
}

@font-face {
    font-family: 'kupole';
    src: url('../media/fonts/KUPOLE-Regular.ttf') format('ttf');
    
    font-weight: normal;
    font-style: normal;
  
  }


#three-body{
    width: 100%;
    height: 90%;
    margin: 0 auto;
    /* z-index: 1; */
}



a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: yellow;
}

#archive{
    font-size: 30px;
    
 }
 
 #archive:hover{
     background-color: fuchsia;
 }
 
 #blog{
   font-size: 30px;
 }
 
 #blog:hover{
     background-color: fuchsia;
 }
 
 #about{
   font-size: 30px;
 }
 
 #about:hover{
    background-color: fuchsia;
 }
 
 


#hello{
    font-family: "Raleway", san-serif;
    font-size: 100px;
}

#title{
    font-family: "kupole";
    font-size: 120px;
}

h1{
    font-family: "Jacquarda Bastarda 9", san-serif;
    font-size: 20px;
    color: red;
 
    
}

h2{
    font-family: "Courier New", san serif;
    font-size: 19px;
}

p{
    font-family: "Courier New", san-serif;
    font-size: 13px;
    background-color: yellow;
}

.parent-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    flex-direction: row;
    
}

.flex-container3{
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 100vh;
    align-items: center;
 justify-content: space-around;
 font-family: 'fourmi', sans-serif;
    
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: left;
    flex-direction: column;
    height: 100%;
    width: 60%;
   
}

.flex-container2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 20%;
    padding: 10;
    
   
}

.flex-item {
   
    padding: 20px;
    /* margin: 10px; */
    text-align: left;
    border: 2px solid black;
    margin-right: 20px;
}

.header {
    padding: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
   
}



.icon {
    display:flex;
    margin-left: 5px;
    animation: colorChange 2s infinite; /* Add the animation */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   font-family: 'Courier New', Courier, monospace;
   font-size: 12px;
   margin-top: -5px;
   text-align: center;
   transition: 0.3s;
   
    }


@keyframes colorChange {
    0% {
        color: initial; /* Start with initial color */
    }

    25%{
        color: red; /* Change to desired color a quarter of the way through */}
    50% {
        color: black; /* Change to desired color halfway through */

    }
    100% {
        color: initial; /* Change back to initial color */
    }
}



/* Popup container */
.popup {
    position: relative;
    /* display: inline-block; */
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
  text-align: center;
  height: 50%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;

  }
  
  /* The actual popup (appears on top) */
   .popup .popuptext {
    visibility: hidden;
    width: 100px;
    height:300px;
    /* background-color: #555; */
    color: #fff;
    text-align: center;
    border-radius: 6px;
    /* padding: 8px 0; */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    box-shadow: #9c4a70;
  }  
  
  #popup-03{
      margin-top: 600px;
  }
  
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn .5s;
    animation: fadeIn .5s
    
    
  }
  
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }