/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas{
    display: block;
}

body{
   
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-attachment: fixed;
    background-size: contain; */
}

@font-face {
    font-family: 'Fourmi';
    src: url('../media/fonts/FOURMI-light2.otf') format('otf');
    
    font-weight: normal;
    font-style: normal;
  
  }

  @font-face {
    font-family: 'Hellplague';
    src: url('../media/fonts/hellplague.otf') format('otf');
    
    font-weight: normal;
    font-style: normal;
  
  }


  @font-face {
    font-family: 'stairs';
    src: url('../media/fonts/Stairs.otf') format('otf');
    
    font-weight: normal;
    font-style: normal;
  
  }

  @font-face {
    font-family: 'squaredshadow';
    src: url('../media/fonts/SquaredShadow.otf') format('otf');
    
    font-weight: normal;
    font-style: normal;
  
  }


  @font-face {
    font-family: 'wavy';
    src: url('../media/fonts/wavy.otf') format('otf');
    
    font-weight: normal;
    font-style: normal;
  
  }





a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: pink;
}

#three-body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 1;
}

#archive{
   font-size: 32px;
   background-color: #CCCC99;
   padding: 10%;
   border-radius: 30%;
   
}

#archive:hover{
    color: hotpink
}

#blog{
    font-size: 32px;
    background-color: #CCCC99;
    padding: 10%;
    border-radius: 30%;
}

#blog:hover{
    color: hotpink;
}

#about{
    font-size: 32px;
    background-color: #CCCC99;
    padding: 10%;
    border-radius: 30%;
}

#about:hover{
   background-color: yellow;
}



.parent-container {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    flex-direction: row;
    width: auto;
    
}

.flex-container3{
    display: flex;
    flex-direction: column;
    width: 10%;
    height: 80vh;
    align-items: center;
 justify-content: space-around;
 font-family: 'fourmi', sans-serif;
 z-index: 1;
/* background-color: pink; */
    
}



.flex-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
    width: 90%;

 
   
   
 
  
    
   
}




h2{
    font-size: 18px;
    position: absolute;
    font-family: 'wavy';
    margin-top:0px;
    margin-right: 700px;
 
}


h1{
    font-family:"stairs", serif;
    font-size: 120px;

  color: white;
  position: absolute;
    margin-top: 0px;
    text-orientation: mixed;
    
 
}


h3{
    font-size: 24px;
    position: absolute;
    font-family: 'squaredshadow';
    margin-top: 0px;
    margin-right: 700px;
    margin-left: 0px;
    margin-bottom: 200px;
    animation: blink 2s linear infinite;
    animation: scroll 2s linear infinite;
    color: teal;
   
}
@keyframes blink{
  0%{opacity: 0;}
  50%{opacity: 1;}
  100%{opacity: 0;}
  }

  @keyframes scroll {
    from {
        transform: translateX(100%); /* Start position off-screen to the right */
    }
    to {
        transform: translateX(-100%); /* End position off-screen to the left */
    }
}
  
  h4{
    font-size: 18px;
    font-family: 'wavy';
    position: absolute;
    margin-top: 0px;
    margin-right: 900px;
    margin-bottom: 600px;
    background-color: #CC3366;
    border-radius: 50%;
    padding: 15px;
    color: white;
    animation: changeBackgroundColor 2s linear infinite;
    

}


@keyframes changeBackgroundColor {
    0% {
        background-color: #CC3366;
    }
    25% {
        background-color: #006633;
    }
    50% {
        background-color: #FF6633;
    }
    }
    


.scrollbox{
    display: flex;
    background-color: lightblue;
    width: 200px;
    height: 300px;
    overflow: scroll;
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    z-index: -1;
}

#image-desktop{
    width: 50%;
    height: 60vh;
}

.flex-container2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 15vh;
    width: 100%;
    /* background: rgb(255,255,255);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(81,36,237,1) 16%, rgba(48,41,235,1) 29%, rgba(31,67,199,1) 36%, rgba(30,6,230,1) 60%, rgba(119,103,223,1) 70%, rgba(88,40,224,1) 90%, rgba(255,255,255,1) 100%);
} */
}
#nature1{
    width: 10%;
    height: 40vh;
    margin-bottom: 100px;
    margin-right: 600px;
    z-index: -1;
    position: absolute;
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    object-fit: cover;
    object-position: 10% 100%;
}

#nature2{
    width: 20%;
    height: 40vh;
    margin-top: 300px;
    margin-left: 600px;
    z-index: -1;
    position: absolute;
    clip-path: xywh(0 5px 100% 75% round 15% 0);
    object-fit: cover;
}

#nature3{
    width: 10%;
    height: 10vh;
    margin-top: 200px;
    margin-left: 900px;
    z-index: -1;
    position: absolute;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    object-fit: contain;
    object-position: 40% 100%;
}

#heart {
    position: absolute;
    width: 300px;
    height: 150px;
    margin-top: 100px;
    margin-left: 900px;
    z-index: -1;
  }
  #heart:before,
  #heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: #CC3366;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    z-index: -1;
  }
  #heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
    z-index:-1;
  }

 #eye1{
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    margin-bottom: 130px;
    margin-right: 600px;
    margin-left: 20px;
    margin-top: 15px;
 }


 #pupil1{
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    margin-bottom: 130px;
    margin-right: 600px;
    margin-left: 20px;
    margin-top: 15px;
    animation: blink 1s step-start 0s infinite;
 }

@keyframes blink{
    50% {
        opacity: 0.0;}}

 #eye2{
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    margin-bottom: 130px;
    margin-right: 600px;
    margin-left: 55px;
    margin-top: 15px;
    
 }

 #pupil2{
    width: 15px;
    height: 15px;
    background: black;
    border-radius: 50%;
    z-index: 100;
    position: absolute;
    margin-bottom: 130px;
    margin-right: 600px;
    margin-left: 55px;
    margin-top: 15px;
    animation: blink 1s step-start 0s infinite;
    
 }

 h5{
    position: absolute;
    font-family: 'wavy';
    font-weight: 200;
    font-size: 24px;
    margin-top: 0px;
    margin-right: 700px;
    margin-left: 800px;
    margin-bottom: 300px;
   

 }

 h6{
    position: absolute;
    font-family: 'wavy';
    font-weight: 200;
    font-size: 24px;
    margin-top: 0px;
    margin-right: 700px;
    margin-left: 420px;
    margin-bottom: 150px;
  
 }

 
 h7{
    position: absolute;
    font-family: 'wavy';
    font-weight: 200;
    font-size: 24px;
    margin-top: 0px;
    margin-right: 700px;
    margin-left: 90px;
    margin-bottom: 50px;


 }

 #circle1 {
    width: 50px;
    height: 50px;
    background: red;
    border-radius: 50%;
    z-index: 1;
    position: absolute;
    margin-top: 100px;
    margin-right: 900px;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
opacity: 0;
animation: new-item-animation 3s linear forwards infinite;
}

@keyframes new-item-animation {
from {
    opacity: 0;
    transform: translateY(-400px);
}

to {
    opacity: 1;
    transform : translateY(400px);
}
}
  

#nightsky{
    width: 10%;
    height: 10vh;
   
    z-index: -1;
    position: absolute;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);

}