
canvas{
    display:block;
}

#three-body{
    width: 100%;
    height: 90%;
    margin: 0 auto;
    /* z-index: 1; */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}



a{
    text-decoration: none;
    color: black;

}

a:hover{
color: yellow;
}

#archive{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);

}

#archive:hover{
    color: yellow;
}

#blog{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

#blog:hover{
    color: yellow;
}

#about{
    position: absolute;
    top: 0;
    left: 50%;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: rgb(255, 255, 255);
    transform: translateX(-50%);
}

#about:hover{
    color: yellow;
}


.flexbox{
width: 100%;
height: 100vh;

}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: right;
    height:30vh;
    width:100%;
    margin-top: auto;
    position: absolute;
    border-radius: 0px 0px 20px 20px;

}


#hello{
    position:absolute;
    color: black;
    font-family: "Syncopate", sans-serif;
    font-style: bold;
    font-weight: 400;
    font-size: 130px;
    line-height: 85%;
    letter-spacing: .6rem;
    justify-content: center;
    margin-top: 80px;
    position: absolute

}





h2{
    color: black;
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: 36px;
    justify-content: center;
    letter-spacing: .1rem;
    margin-top:-150px;
    padding-left: 440px;
    display: center;
    /* position: absolute; */
    
  

}

h2:hover{
    color: yellow;
}



h4{
  position: absolute;
  font-family: "Jacquarda Bastarda 9", sans-serif;
    font-size: 20px;
    color: rgb(105, 78, 162);
    


}

.flex-container2{
    display: column;
    flex-direction: row;
    margin-top: -150px;
}

.flex-container3{
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 100vw;
    background-color: rgb(240, 25, 104);
    font-family: "Raleway", sans-serif;
    border-radius: 10px 10px 10px 10px;
    
   

}



















