/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas{
    display: block;
}

#three-body{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    /* z-index: 1; */
}



a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: yellow;
}

#three-body{
    width: 100%;
    height: 90%;
    margin: 0 auto;
    z-index: 1;
}

#archive{
    /* position: absolute; */
    top: 0;
    right: 0;
    font-family: "UnifrakturMaguntia", static;
    font-size: 20px;
    padding: 10px;
    color: orange;
    margin-right: 60px;
    margin-left: 60px;
}

#archive:hover{
    color: hotpink;
}

#blog{
    /* position: absolute; */
    top: 0;
    left: 0;
    padding: 10px;
    font-family: "UnifrakturMaguntia", static;
    font-size: 20px;
    color: orange;
}

#blog:hover{
    color: hotpink;
}

#about{
    /* position: absolute; */
    top: 0;
    margin-right: 40px;
    margin-left: 40px;
    left: 50%;
    padding: 10px;
    font-family: "UnifrakturMaguntia", static;
    font-size: 20px;
    color: orange;
    transform: translateX(-50%);
}

#about:hover{
    color: hotpink;
}

#home{
    /* position: absolute; */
    top: 100;
    left: 0;
    padding: 10px;
    font-family: "UnifrakturMaguntia", static;
    font-size: 20px;
    color: black;

}

#home:hover{
    color: yellow;

}

.parent-container {
    display: flex;
    flex-wrap: nowrap;
    height: 90vh;
    
}

.flex-container3{
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 100vw;
    font-family: "Raleway", sans-serif;
    border-radius: 10px 10px 10px 10px;
    position: absolute;
    
}

.flex-container2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    height: 100vh;
    width: 40%;
    background-color: coral;

}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    align-items: right;
    flex-direction: column;
    justify-content: right;
    height: 100%;
    width: 50%;
    /* background-color: purple;
    */
}




h2{
    font-size: 20px;
}


#hello{
    font-family:"Jacquarda Bastarda 9", sans-serif;
    font-size: 100px;
    position: absolute;
    margin-top: 50px;
}

.flexbox{
    width: 20%;
    height: 40vh;
    background-color: yellow;
}

#clouds{
    width: 2px;
    height: 4px;
    position: absolute;
}